*{
	margin: 0;
	padding: 0;
}
header, ul{
	display: block;
	overflow: hidden;
}
header{
	width: 100%;
	margin: 3% 0 3% 0;
}
header li{
	float: left;
	list-style: none;
	margin-left: 3%;
	margin-right: 3%;
}
header ul{
	width: auto;
	border-top: 2px solid #730909;
	border-bottom: 2px solid #730909;
}
.noneMarg{
	margin: 0;
}
header a{
	color: #730909;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	text-decoration: none;
}
