.titre h1{
	font-weight: 100;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 85px;
    color: #000;
}
span{
	font-family: 'Clicker script', cursive;
}

.titre span{
	font-weight: 700;
	font-size: 100px;
}
.contain {
	display: block;
	overflow: hidden;
}

/******
******* PAGE titre dordogne *******
				   		    ******/

.page{
	background : url(../img/fondDordogne.jpg) center no-repeat;
	position: relative;
	background-size: cover;
}
.titre{
	position: inherit;
	z-index: 300;
}
.transparent{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background-color: #fff;
	opacity: 0.5;
}


/******
******* PAGE2 : MINIATURE EN CHIFFRES *******
				   		    		  ******/

.page2{
	background-color: #fff;
	margin: 2% 0 2% 0;
}

.page2 .container{
	border : none;
	margin: auto;
	width: 65%;
	justify-content: center;
	display: flex;
}
.page2 .info{
	flex-grow: 1;
	width: 25%;
}
.page2 .info img {
	width: 60%;
	display: block;
	margin: auto auto 20px auto;
}
.page2 .info p{
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 25px;
}
.page2 .info span{
	font-weight: 700;
	font-size: 35px;
}
.page2 .vert{
	color: #B4D7A1;
}
.page2 .rouge{
	color: #730909;
}
.page2 .container{
	opacity: 0;
}

/******
******* PAGE3 : CAROUSEL D IMAGES *******
				   		       	  ******/

.containSlide{
	position: relative;
}
.containSlide a{
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 100;
	font-size: 55px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
.containSlide span{
	font-size: 70px;
	font-weight: 700;
}
.divnav{
	position: absolute;
	top: 50%;
	z-index: 999;
	width: 50px;
	right: 50px;
}
.navSlider{
	width: 50%;
    display: block;
    margin: auto;
}
.navSlider:hover{
	cursor: pointer;
}
.slider-prev{
	transform: rotate(180deg);
	left: 50px;
}
.item{
	height: 500px;
}
.item a{
	display: block;
	height: inherit;
	width: 100%;
}
#halloween{
	background: url(../img/halloween.jpg) no-repeat bottom;
}
#halloween p{
	padding-top: 15%;
}
#infospratiques{
	background: url(../img/infoprat.png) no-repeat center;
}
#gastronomie{
	background: url(../img/manger.jpg) no-repeat center;
}
#sweetdreams{
	background: url(../img/dormir.jpg) no-repeat center;
}

/******
******* PAGE4 : VISITES A REALISER *******
				   		       	   ******/

.page4{
	background-color: #eaeaea;
	display: block;
	overflow: hidden;
}
.page4 .contain{
	margin: 3% 0 3% 0;
}
.page4 h2{
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	font-weight: 100;
	font-size: 45px;
}

.page4 span{
	font-size: 55px;
}
.page4 #Blocvisites{
	display: flex;
	width: 80%;
    margin: auto;
    height: 330px;
}
.page4 .visite{
	flex-grow: 3;
	position: relative;
}
.page4 .visite img {
	width: 200px;
	height: 200px;
}
.page4 .end{
	align-self: flex-end;
}
.page4 .transparent{
	background-color:  #730909;
	width: 142px;
	height: 142px;
	transform: rotate(45deg);
	opacity: 0;
}

.page4 .visite a:hover .transparent{
	opacity: 0.6;
	transition-duration: 1s;
}