
.premcont{
	display: flex;
	padding-top:3%;
	

}
.contain{
	display: flex;
	width:60%;
	margin:auto;

}
.texte{
	
	width:30%;
	margin:auto;
}
#titrehotel{
	padding-top:2%;
	
}
div#slider { 
	width: 80%; max-width: 1000px; 
} 

div#slider figure {
  position: relative; 
  width: 500%; /* on a 5 images donc bandes 500% fois plus grande */
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
}

/* Nous devons répartir les images de manière régulière à l’intérieur de la bande. 
	Le calcul est très simple : Si nous considérons que l’élément figure fait 100% de large, chaque image doit prendre 1/5 de l’espace horizontal :
100% / 5 = 20% */
div#slider figure img { 
	width: 20%; /*100/5images=20*/
	height: auto; 
	float: left; 
	}
	

/* Enfin, nous cachons ce qui dépasse (overflow) de la div : */
div#slider { 
	width: 80%; 
	max-width: 1000px; 
	overflow: hidden }

@keyframes slidy {
  0% { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}
div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

/*********************************************************************************/
