/********************************** ENSEMBLE ***********************************************/

.sub-menu a{
  color: #730909;
}

.contenu{
  display: flex;
  
  width: 80%;
  padding-top:3%; 
  margin: auto;
  flex-wrap: wrap;
}

.titrehotel{
  padding-top:2%;
}

.retour{    
margin: 0 14% 0;
} 

.titretxt{
  text-align: center;
  }

.retour a{
    text-decoration: none;
    color: #677179;
}

.banniere{
  display: block;
  overflow: hidden;
  width: 100%;
  height: 300px;
  background: url('../img/Sejourner/lovnid/couverture_LovNid.jpg') no-repeat center;
  background-size: cover;
}


/********************************** CARTE ***********************************************/

#carte{
	width:50%;
	height:274px;
  margin: 5% 0 5% 5%;
} 

#gmap_canvas img{
max-width:none!important;
background:none!important
}

#gmap_canvas{
	 height:100%;width:100%;
}

/********************************** TEXTE Detail lieu  ***********************************************/
.texte{
  width: 30%;
  margin-left: 5%;
  margin-top:2%;
  text-align: justify;
}

.texte span{
  font-weight: bold;font-size: 23px;
  font-family: 'Julius Sans One', sans-serif;

}
.texte p{
  font-family: open sans condensed,sans-serif;
  font-size: 20px;
  text-align: center;
}

.texte .txtjustify{
  text-align: justify;
}



/*********************************** Boite INFO  **********************************************/
.infolieu{
 width: 90%;
  display:flex;
  border: 2px solid rgba(115, 9, 9, 1);
  background-color: rgba(242, 242, 242, 1);
  border-radius: 0;
  font:normal normal normal 22px/1.4em proxima-n-w01-reg,sans-serif;
  color:#414141;
  margin-left: 5%;
  margin-right: auto;
}

.infolieu span{
  Font-family: 'Clicker script', cursive;
  font-weight: 700;
  font-size: 30px;
  color:#414141
}

.sous-titre{
	display:flex;
	flex-direction: column;
	overflow: hidden;
	width:25%;
	margin:  2% auto 0% 0%;
}

.infotxt{
  font-family: open sans condensed,sans-serif;
  font-size:20px;
  color: #414141;
}

.infotxt img{
  width: 23px;
  height: 20px;
  object-fit: cover;
}

.sous-titretxt img{
 width: 32px;
  height: 32px;
}

/********************************** BOITE CONTACT ***********************************************/

.contact{
  overflow: hidden;
  border: 2px solid rgba(115, 9, 9, 1);
  background-color: rgba(242, 242, 242, 1);
  border-radius: 0;
  width: 30%;
  height:200px;
  margin: 5% 6%;
}

.contact span{
  font-weight: bold;font-size: 23px;
  font-family: wfont_3d03d5_8ec9428e2509499f86a04c480e9dde48,wf_8ec9428e2509499f86a04c480,orig_julius_sans_one;
 
}
.contact p{
  font-family: open sans condensed,sans-serif;
  font-size: 20px;
  text-align: center;
}
.contact a{
  color: #677179;
}

/************************************  ICONE SOCIAL  *********************************************/

.Hote-social-icons {
    width: 50%;
    display:flex;
  flex-wrap:wrap;
    margin: 3% auto auto 5%;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li:not(#sur-menu):hover{
  background-color: #eaeaea;
}
.social-icons li {
    vertical-align: top;
   display: inline; 
    height: 100px;
    /* margin-left: 10%; */
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook,.fa-twitter, .fa-rss,.fa-youtube, .fa-linkedin,.fa-google-plus {
    padding: 8px 10px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

/************************************  RESERVER  *********************************************/


.Reserver{
	display:flex;
	align-items:center;
	justify-content:center;
	margin-left: auto;
  margin-top: 15%;
	margin-bottom: 5%;
	border-radius: 10px;
	overflow:hidden;
	width:50%;
	height:50px;
	background-color:rgba(35, 35, 35, 1);
}

.Reserver p{
	    font: normal normal normal 16px/1.4em raleway,sans-serif;
		color:#FFFFFF;
}

/******* PAGE3 : CAROUSEL D IMAGES *******/
                        
.containSlide{
  position: relative;
  width: 55%;
  float: left;
  margin-left: 5%;
}
.divnav{
  position: absolute;
  top: 50%;
  z-index: 999;
  width: 50px;
  right: 30px;
}
.navSlider{
  width: 50%;
    display: block;
    margin: auto;
}
.navSlider:hover{
  cursor: pointer;
}
.slider-prev{
  transform: rotate(180deg);
  left: 30px;
}
.item{
  height: 400px;
}

#img1{
  background: url(../img/Sejourner/lovnid/facadelovnid.jpg) no-repeat bottom;
  background-size: cover;
}
#img2{
  background: url(../img/Sejourner/lovnid/lov_cow.jpg) no-repeat bottom;
  background-size: cover;
}
#img3{
  background: url(../img/Sejourner/lovnid/lov_int.jpg) no-repeat bottom;
  background-size: cover;
}
