
.contenu{
  display: flex;
  width: 80%;
  padding-top:3%; 
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.titrep{
	width: 100%;
	text-align: center;	
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.choixcateg{
	padding-top: 40px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
	flex-wrap: wrap;

}
.choix{
	width: 35%;
	
 	
}
.choix img{
	max-width: 100%;
	height: auto;
	
}
.choix:hover img{
	/*background-color: rgba(255,140,0,1);*/
}
.banniere{
	display: block;
	overflow: hidden;
	width: 100%;
	height: 300px;
	background: url('../img/Sejourner/harmonie/couverture_Harmonie.jpg') no-repeat center;
	background-size: 100%;
		background-size: cover;
}

.choix figure img{
	-webkit-filter: sepia(0%);
	filter: sepia(0%);

}
.choix figure:hover img{
	-webkit-filter: sepia(70%);
	filter: sepia(70%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}