*{
	margin: 0;
	padding: 0;
}

#fullpage{
	z-index: -5;
	width: 100%;
	position: fixed;
	display: block;
	background : url('../img/fond.jpg') center no-repeat;
	opacity: 0.53;
}

.titre h1{
	font-weight: 100;
	font-family: 'Julius Sans One', sans-serif;
	text-align: center;
	font-size: 90px;
}

span{
	font-family: 'Clicker Script', cursive;
}

.titre span{
	font-weight: 700;
	font-size: 105px;
}


/******
******* PAGE 2 : menu des departements *******
									   ******/

#contain{
	width: 100%;
	height: 92%;
	display: block;
	overflow: hidden;
	text-align: center;
}
#rectGris{
	background-color: #F2F2F2;
	height: inherit;
	display: block;
	overflow: hidden;
	/* (100 - 92) /2 */
	margin-top: 4%;
}
#rectGris h2{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 45px;
	margin-top: 1%;
	font-weight: 100;
}
#contain span{
	font-size: 59px;
	font-weight: 700;
}
#departement{
	display: block;
	overflow: hidden;
	width: 100%;
}
.dep{
	display: block;
	overflow: hidden;
	position: relative;
	width: 27%;
	float: left;
}
.dep p{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 25px;
	color: white;
	position: absolute;
	top: 0;
}
.dep img{
	width: 75%;
}


.st0{
	fill:#FBFBFA;
}
.st1{
	fill:#EFF6F4;
}
.st2, .st3, .st4{
	fill:none;
	stroke:#333333;
	stroke-width:2;
	stroke-linecap:round;
	stroke-linejoin:round;
}
.st3{
	stroke:#73160E;
}
.st4{
	stroke:#8DA3C3;
}
.st5{
	fill:#666666;
}

.carteAquitaine .st0{
	fill:#FBFBFA;
	stroke:#730909;
	stroke-width: 1.5;
}