#img1{
  background: url(../img/Sejourner/cabanenature/cabanenature1.jpg) no-repeat bottom;
  background-size: cover;
}
#img2{
  background: url(../img/Sejourner/cabanenature/cabanenature2.jpg) no-repeat bottom;
  background-size: cover;
}
#img3{
  background: url(../img/Sejourner/cabanenature/cabanenature3.jpg) no-repeat bottom;
  background-size: cover;
}
