
/******
******* SVG & TITRES *******
                     ******/

.titre h1{
  font-size: 60px;
}
.titre span{
  font-size: 75px;
}

.aquitaineTexte, .dordogneTexte{
	display: block;
}
text{
	font-size: 30px;
}
rect{
	width: 17%;
	height: 65px;
}



/******
******* PAGE 2 : INFORMATIONS *******
                    		  ******/

.page2 .container{
	display: block;
	overflow: hidden;
	width: 95%;
}
.page2 .info{
	float: left;
	width: 50%;
	padding-top: 5;
	padding-bottom: 5%;
}

/******
******* PAGE 4 : VISITES A FAIRE *******
                    			 ******/

.page4 .visite img {
    width: 325px;
    height: 325px;
}
.page4 .visite{
	width: 325px;
	margin: 5% auto 0 auto;
}
.page4 #Blocvisites{
	height: auto;
	display: block;
}

.page4 h2 span{
	display: block;
}
