

.image img{
	width: 80%;
}

.image2 img{
	width: 60%;
}
/*
.container {
	display : none;
}

.texte{
    width: 80%;
    }


.test a{
	text-align: center;
}
.txt{
	width: 80%;
}
.test .titredoc{
	text-align: center;
}*/