
.containSlide{
  width: 100%;
	height:5%; 
}
.contenu{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
}

#carte{
	width:100%;
	height:274px;
  margin: 5% 0 5% 5%;
} 
.contact{
  width: 100%;
 
}
.texte{
  width: 100%;
  
}
.infolieu{
 width: 100%;
 display:flex;
flex-direction:column ; 
align-items: center;
}

.sous-titre{
display:flex;
flex-direction:column; ; 
	width:100%;
  align-items: center;

}
.item{
  height: 300px;
}
.sous-titre .infotxt img{
  display: none;
}
.titretxt{
  width: 100%;
  }